:root {
    --color-white: #fff;
    --color-black: #000;

    --color-gray-50: #ccc;
    --color-gray-40: #202020;
    --color-gray-30: #3c3c3c;

    --color-teal-50: #47ECCE;
    --color-teal-60: #3ac4ab;
    --color-purple-50: #8a76d4;
    --color-purple-60: #639;
    
    --base-font-size: 1rem;
}