.site-logo {
    height: auto;
    width: 8rem;
}

@media screen and (--medium) {

    .site-logo {
        transition: width 0.5s;
        width: 12.5rem;
    }

    .is-sticky .site-logo {
        width: 10rem;
    }

}