/* .site-logo {
    height: auto;
    width: 8rem;
}

@media screen and (--large) {

    .site-logo {
        transition: width 0.5s;
        width: 12.5rem;
    }

    .is-sticky .site-logo {
        width: 10rem;
    }

} */

.site-logo a {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 300;
    transition: font-size 0.5s;

    & span {
        color: var(--color-teal-50);
        font-weight: 700;
        text-transform: uppercase;
    }

    &:hover {
        text-decoration: none;
    }

}

@media screen and (--large) {

    .is-sticky .site-logo a {
        font-size: 2rem;
    }

}