.hero {
    height: 100vh;
}

.hero__content-wrapper {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.hero__text-wrapper {
    margin-bottom: 2rem;
}

.hero__title {
    font-size: 2.25rem;
    font-weight: 700;
}

.hero__subtitle {
    font-size: 0.75rem;
}

@media screen and (--medium) {

    .hero__title {
        font-size: 3.375rem;
    }

    .hero__subtitle {
        font-size: 1rem;
    }

}