.site-header {
    background-color: var(--color-black);
    border-bottom: 1px solid transparent;
    left: 0;
    padding: 1em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;

    & .page-wrapper {
        display: flex;
        justify-content: center;
    }

    &.is-sticky {
        border-bottom: 1px solid var(--color-gray-30);
    }
}

@media screen and (--large) {

    .site-header {
        background-color: rgba(0,0,0, 0.6);
        padding: 2em 0;
        transition: background-color 0.5s, padding 0.5s, border-bottom 0.5s;

        & .page-wrapper {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        &.is-sticky {
            background-color: var(--color-black);
            padding: 1.25em 0;
        }

    }

}