.countdown {
    background-color: var(--color-black);
    padding-bottom: 3rem;

    & .page-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

.countdown__item {
    flex-grow: 1;
    padding-top: 2.5rem;
    position: relative;
}

.countdown__value {
    color: var(--color-purple-50);
    font-size: 2rem;
    font-weight: 300;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.countdown__label {
    color: var(--color-white);
    font-size: 0.875rem;
}

@media screen and (--medium) {

    .countdown {
        padding-bottom: 4rem;
    }

    .countdown__item {
        padding-top: 7rem;
    }

    .countdown__value {
        font-size: 5.625rem;
    }

    .countdown__label {
        font-size: 1rem;
    }

}

@media screen and (--large) {

    .countdown {
        padding-bottom: 6.5rem;
    }


}